/* General Styles */
html, body{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}  

body {
    font-family: "Circular Std", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #1DB954;
    padding: 20px;
    text-align: center;
    color: white;
}

section {
    background-color: white;
    padding: 20px;
}

ul.song-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

li.song {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
}

.song-details {
    text-align: center;
}

.song-title {
    margin: 0;
    font-size: 20px;
}

.song-artist {
    margin: 8px;
    color: #888888;
    font-size: 16px;
}

.playlist-title {
    text-align: center;
    margin: 0;
    font-size: 20px;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

button {
    padding: 8px 14px;
    background-color: #1DB954;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #16914B;
}

#player {
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.album-art img {
    max-width: 600px;
    height: auto;
    margin: 20px;
}

#player .song-details {
    margin-bottom: 20px;
}

#player .song-title {
    margin: 10px;
    font-size: 28px;
}

#player .song-artist {
    margin: 0;
    color: #888888;
    font-size: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    width: 40px;
    height: 40px;
    background-color: #1DB954;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.play-button {
    background-color: #1DB954;
    margin: 0 10px;
}

.previous-button {
    background-color: #888888;
    margin: 0 10px;
}

.next-button {
    background-color: #888888;
    margin: 0 10px;
}

.add-song-button {
    background-color: #1DB954;
    margin: 0 10px;
}

.delete-song-button {
    background-color: #888888;
    margin: 0 10px;
}

.playlist {
    margin-bottom: 20px;
    text-align: left;
}

.playlist h3 {
    margin: 0;
    font-size: 18px;
}

ul.song-list {
    list-style-type: none;
    padding: 0;
}

.add-to-playlist-form {
    display: flex;
    justify-content: center;
}
  
#playlist .song {
    border: 1px solid #e0e0e0;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#playlist .song-details {
    text-align: left;
    display: flex;
}

#playlist .song-title {
    margin: 18px 18px;
    font-size: 18px;
}

#playlist .controls-song {
    margin: 6px 6px;
}

#playlist .song-artist {
    margin: 18px 18px;
    color: #888888;
    font-size: 14px;
}
  